.div-region-name-geojson {
	padding-right: 3px;
	font-weight: 800;
}

.div-region-type-geojson {
	font-weight: 400;
}

.td-value {
	padding: 3px;
	text-align: right;
}

.div-show {
	color: lightgray;
}

.div-show:hover {
	color: orange;
}

.leaflet-tile-pane {
	filter: grayscale(100%);
	filter: grayscale(100%);
}
